.type-content{
  height: 60px;
  background-color:  #ECEEF7;
  .type{
    float: left;
    margin: 13px 0 0 30px;
    width: 132px;
    height: 35px;
    background-color: rgba(100,127,254,0.10);
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    i{
      display: inline-block;
      margin: 0 5px 2px;
      width: 8px;
      height: 8px;
      background: #6882FD;
      box-shadow: 0 0 5px 0 rgba(104,130,253,0.79);
      border-radius: 4px;
    }
  }
}

.enter-content{
  padding: 12px 36px 12px 30px;
  height:36px;
  border-bottom: 1px solid #F3F3F7;

  .back-btn{
    float: left;
    img{
      margin-right: 6px;
      width: 12px;
      height: 12px;
    }
  }

  .type-name{
    float: left;
    margin-left: 64px;
    height: 36px;
    line-height: 36px;
    display: flex;
    position: relative;
    .name{
      width: 70px;
    }
    .el-input{
      width: 236px;
    }
    .name-ver{
      position: absolute;
      color: red;
      font-size: 12px;
      bottom: -25px;
      left: 86px;
    }
  }

  .upload-btn{
    margin-left: 11px;
    img{
      margin-right: 4px;
      width: 13px;
      height: 13px;
    }
  }

  .submit-btn{
    float: right;
  }
}

.main-content{
  margin: 35px auto 0;
  width: 1264px;
  height: 500px;

  .left-content{
    float: left;
    width: 344px;
    height: 500px;
    border: 1px solid #E5E7EF;
    box-sizing: border-box;

    .sum-number{
      padding-left: 18px;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #E5E7EF;
      background: #f5f6fa;
      box-sizing: border-box;
    }

    .drawing-details{
      padding-left: 18px;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #E5E7EF;
      background: #f5f6fa;
      box-sizing: border-box;
      img{
        margin: 17px 6px 0 0;
        width: 14px;
        height: 14px;
      }
    }

    .drawing-list{
      overflow-y: auto;
      height: 400px;
      li{
        padding-left: 21px;
        height: 40px;
        line-height: 40px;
        .cur{
          cursor: pointer;
        }
      }
      li:nth-of-type(even){
        background: #f5f6fa;
      }
    }
  }

  .right-content{
    position: relative;
    float: right;
    width: 900px;
    height: 500px;
    overflow: auto;
    text-align: center;
    line-height: 500px;
    border: 1px solid #E5E7EF;

    #customPositionImg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .canvas-border{
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      box-sizing: border-box;
      z-index: 0;
      color: #fff;
      .close{
        position: absolute;
        background: rgba(0,0,0,0.50);
        width: 22px;
        height: 22px;
        right: -11px;
        top: -11px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: 22px;
      }

      .canvasText{
        border: none;
        background-color: transparent;
        width: 100%;
        color: #fff;
        cursor: inherit !important;
        text-align: center;
      }
    }
  }
}
